@import 'bootstrap';
@import 'font-awesome';
@import 'http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700';

/* ============ Colors ============ */

$body-color: #FFF;
$zebra-color: #f1f4f5;

/* ============ General ============ */

body {
	background-color: $body-color;
	color: #575757;
}

.anchor {
	position: relative;
	top: -50px;
}

/* ============ Typography ============ */

p {
	font-size: 16px;
	font-weight: 300;
	line-height: 2em;
}

li {
	font-size: 16px;
	font-weight: 300;
	line-height: 1.8em;
}

h1, h2, h3 {
	font-family: "Helvetica Neue", "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 300;
}

h1 {
	font-size: 45px;
}

/* ============ Top image ============ */

#jumbo {
	height: 400px;
	width: 100%;

	.carousel-inner {
		height: 400px;
	}

	.item {
		width: 100%;
		height: 100%;

		background-position: center center;

		-webkit-background-size: 100%;
		-moz-background-size: 100%;
		-o-background-size: 100%;
		background-size: 100%;

		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	.carousel-control {
		background-image: none;
		opacity: 1.0;

		span {
			font-size: 60px;
			margin-top: -30px;
		}
	}
}

/* ============ Navigation ============ */

nav {

	text-align: center;
	padding: 20px 0;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		display: inline-block;
		padding: 0 15px;
		font-size: 18px;
	}

	a, a:hover {
		color: #FFF;
	}

}

/* ============ Blocks ============ */

.colorful {
	color: #FFF;

	h1, h2, h3 {
		color: inherit;
	}

	a, a:hover {
		color: inherit;
	}
}

.block {
	padding-top: 40px;
	padding-bottom: 40px;

	h1:first-child, .row h1 {
		margin-bottom: 30px;
		margin-top: 0;
	}

	h1:first-child {
		text-align: center;
	}

	p, ul {
		margin-bottom: 30px;
	}

	p:last-child, ul:last-child {
		margin-bottom: 0;
	}
}

#content {

	.block:nth-child(even) {
		background-color: $zebra-color;

		hr {
			border-top-color: darken($zebra-color, 10);
			width: 75%;
			margin-left: auto;
			margin-right: auto;
		}
	}

	img {
		max-width: 100%;
		border-radius: 5px;
	}

}

/* ============ Newsletter ============ */

#newsletter {

	p {
		text-align: center;
	}

	#mailbox {
		background-color: #FFF;
		border-radius: 5px;
		padding: 4px;
		max-width: 500px;
		margin: auto;
	}

	input, button {
		font-size: 18px;
		font-weight: 300;
		border: 0;
	}

	input {
		-webkit-box-shadow: none;
		box-shadow: none;
		padding-top: 16px;
	}

	.btn {
		color: #FFF;
		padding: 10px 20px;
	}

	.input-group-addon {
		padding: 0;
		background-color: transparent;
		border: 0;
	}

}

/* ============ Social ============ */

#social {

	padding: 20px 0;
	text-align: center;

	i {
		display: inline-block;
		width: 50px;
		height: 50px;
		margin: 0 5px 20px 5px;

		font-size: 150%;
		border: 2px solid #FFF;
		border-radius: 25px;
		line-height: 50px;
		text-decoration: none;
	}

}
